.heading{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    flex:1;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    max-width: 600px;
    row-gap: 5px;
}
.form-input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;

}
.submit-button{
    background-color: gold;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.submit-button:hover{
    background-color: rgb(255, 200, 0);
}