<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{%block css%}{%endblock css%}">
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='general.css')}}">
</head>
<body>
    <nav class="header">
        <div class="left-header">
            <a href="{{url_for('main_page')}}"><button class="amazon-button">
                    <img src="{{url_for('static', filename='/images/header-images/amazon-logo-white.png')}}" alt="Amazon Logo" class="amazon-logo">
                </button></a>
        </div>
            <form class="center-header" method="GET" action="/search">
                <input type="text" placeholder="Search" class="search-bar" name="searched" required>
                <button class="search-button">
                    <img src="{{url_for('static',filename='/images/header-images/search-icon.png')}}" class="search-icon">
                </button>
            </form>
        <div class="right-header">
            <a href="{{url_for('order_page')}}"><button class="returns-and-orders-button">
                <span>Returns</span> 
                <span><b>& Orders</b></span>
            </button></a>
            <a href="{{url_for('cart_page')}}"><button class="cart-button">
                <div class="number-of-products-in-cart">{{ cart_items_count }}</div>
                <img src="{{url_for('static',filename='/images/header-images/cart-icon.png')}}" alt="Cart" class="cart-icon">Cart
            </button></a>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('logout_page')}}">
                <button class="login-button">
                    Logout
                    ${{ "%.2f" | format(current_user.buget/100.0) }}
                </button>
            </a>
            {%else%}
            <a href="{{url_for('login_page')}}">
                <button class="login-button">
                    Login
                </button>
            </a>
            {% endif %}
        </div>
    </nav>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class='alert alert-{{ category }}'> 
                        <p>{{ message }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block content %}
        
        
        {% endblock content %}
        
    <script src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>