{% extends "base.html" %}
{% block title %}
Register Page
{% endblock title %}

{% block css %}
{{url_for('static', filename='login.css')}}
{% endblock css %}


{% block content %}
<div class="heading">Create an account</div>
<div class='form-container'>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-input", placeholder="Username") }}
        {{ form.email.label() }}
        {{ form.email(class="form-input", placeholder="Email Address") }}
        {{ form.password1.label() }}
        {{ form.password1(class="form-input", placeholder="Password") }}
        {{ form.password2.label() }}
        {{ form.password2(class="form-input", placeholder="Confirm Password") }}
        <div>Already have an account? <a href="{{url_for('login_page')}}">Login</a></div>
        {{ form.submit(class="submit-button") }}

    </form>
</div>
{% endblock content %}